$primary-color: #fff159;
$bg-color: #ededed;
$border-color: #ddd;
$text-color: #333;
$text-secondary-color: #1f1f1f;
$link-color: #3483fa;
$link-secondary-color: #2968c8;
$container-width: 1200px;
$content-width: 900px;
$container-padding: 15px;
$break-point: 600px;
